@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.admin-dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #f9fafc;
}

/*** header ***/
.admin-nav {
  width: 220px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin-header {
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(135deg, #e91e63, #9c27b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  white-space: pre-line;
}

.separator-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
}

/*** nav button ***/
.admin-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.admin-nav li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  opacity: 0;
  animation: slideIn 0.5s forwards;
  transition: background-color 0.3s, color 0.3s;
}
.admin-nav li:nth-child(1) {
  animation-delay: 0.1s;
}
.admin-nav li:nth-child(2) {
  animation-delay: 0.2s;
}
.admin-nav li:nth-child(3) {
  animation-delay: 0.3s;
}
.admin-nav li:nth-child(4) {
  animation-delay: 0.4s;
}
.admin-nav li:nth-child(5) {
  animation-delay: 0.5s;
}

.admin-nav li:hover {
  background-color: #f0f0f0;
}

.admin-nav li.active {
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  color: #ffffff;
}

.nav-link_dashboard {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%; /* Ensures the full width coverage */
  height: 60px; /* Adjust height */
  padding-left: 10px; /* Add padding for spacing */
}

.nav-icon {
  margin-right: 10px; /* Space between icon and text */
}

.admin-main-content {
  flex-grow: 1;
  padding: 20px;
}
