@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.page-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;     /* Center content horizontally */
    justify-content: flex-start; /* Start the content from the top */
    min-height: 100vh; 
    background-color: #FAF5F2;
    padding-top: 100px;
  }
  
  .impact-title {
    color: #FFDF8F;
    font-family: "Archivo Black", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center; /* Center the title */
    margin-top: 20px;
  }

  /* Container for the feature photo section */
.feature-photo-section {
    text-align: center;
    /* margin-top: 50px; Adjust spacing as needed */
    margin-bottom: 20px;
}

/* Heading Styles */
.feature-photo-heading {
    color: black; /* White text */
    font-family: 'Inter', sans-serif; /* Ensure 'Inter' font is loaded */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px; /* Space between heading and button */
}

/* Quote styling */
.quote {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    font-style: italic;
    color: #333;
    max-width: 600px;
    text-align: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.2;
    margin: 10px 0 10px 0; /* Reduced top and bottom margins */

  }
  
  /* Styling for the quote marks */
  .quote:before {
    content: open-quote;
    font-size: 3rem;
    position: absolute;
    top: -20px;
    left: 0;
    color: #999;
  }
  
  .quote:after {
    content: close-quote;
    font-size: 3rem;
    position: absolute;
    bottom: -20px;
    right: 0;
    color: #999;
  }
  
  /* Author styling */
  .author {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-top: 5px;
  }
  
  /* Optional: Adding a border to emphasize the quote */
  .quote {
    border-left: 5px solid #999;
    padding-left: 20px;
  }
  
  