.GetInvolved-container{
    background-color: #FAF5F2;
    height: 100vh;

}

.addEvent-button {
    background-color: #EEBF46;
    color: #000000;
    padding: 10px 15px;
    border-radius: 16px;
    font-size: 22px;
    font-family: 'Archivo', sans-serif;
    cursor: pointer;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
    margin-right: 0;
  }