.custom-navbar {
  background-color: #4e342e; /* Dark brown */
  border-bottom: 3px solid #8e44ad; /* Purple border */
  padding: 10px 20px;
}
/*brand icon text control********************************************************/
.brand-logo {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.brand-text-container {
  display: flex;
  flex-direction: column;
}

.brand-text {
  font-family: 'Playfair Display';
  color: #FAF5F2;
  font-size: 1.75rem;
  font-weight: semi-bold;
  letter-spacing: 0.07em;
  line-height: 40px;
}

.brand-subtext {
  font-family: 'Playfair Display';
  color: #FAF5F2;
  font-size: 1rem;
  font-weight: regular;
  letter-spacing: 0.07em;
}


/*nav-items. container control***********************************/
.nav-items-container {
  display: flex;
  flex-grow: 1; /* Fills available space */
  gap: 20px; /* Space between nav items */
  justify-content: space-between; /* Spreads items across the space */
  align-items: center;
  margin-left: 500px;
  margin-right: 200px;
}

.nav-item {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #FAF5F2;
  text-decoration: none;
}

.navText.active-link {
  color: #ffeb3b; /* Highlight color for active link */
}

/* login sigin up control ***********************************/
.login-signup-container {
  display: flex;
  gap: 10px; /* Reduces the space between the login and sign-up buttons */
  align-items: center;
}
.login-btn {
  background-color: #000;
  color: #FAF5F2;
  padding: 5px 15px;
  border-radius: 20px;
}

.sign-up {
  background-color: #FAF5F2;
  color: #4e342e;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.sign-up:hover {
  background-color: #8e44ad;
  color: #FAF5F2;
}
